<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="#FreeOlaBini" />
    <meta property="og:description" content="{{ title }}" />
    <meta property="og:image" content="https://freeolabini.org{{ image }}" />
    <meta property="og:url" content="https://freeolabini.org{{ page.url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@freeolabini" />
    <link rel="image_src" href="https://freeolabini.org{{ image }}">
    <link rel="alternate" hreflang="es" href="/es/">
    <link rel="alternate" hreflang="sv" href="/sv/">
    <link rel="alternate" hreflang="en" href="/en/">
    <link rel="alternate" hreflang="fr" href="/fr/">
    <link rel="alternate" hreflang="it" href="/it/">
    <link rel="alternate" hreflang="fr" href="/fr/">
    <link rel="alternate" hreflang="pt" href="/pt/">
    <link rel="alternate" hreflang="pt" href="/de/">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="center mw8">
      <header>
        <h1 class="f-headline fw9 lh-title mb1">
          <a class="link dark-gray" href="/" title="Home">
            Free Ola Bini!
          </a>
        </h1>
        <nav class="f3 lh-title mb4" role="navigation">
          <a href="/es/" class="link dim  {% if page.url.slice(1, 3) === 'es' %}white bg-dark-gray{% else %}mid-gray{% endif %} ttu">Español</a> &nbsp;
          <a href="/sv/" class="link dim  {% if page.url.slice(1, 3) === 'sv' %}white bg-dark-gray{% else %}mid-gray{% endif %} ttu grow">Svenska</a> &nbsp;
          <a href="/en/" class="link dim  {% if page.url.slice(1, 3) === 'en' %}white bg-dark-gray{% else %}mid-gray{% endif %} ttu grow">English</a> &nbsp;
          <a href="/fr/" class="link dim  {% if page.url.slice(1, 3) === 'fr' %}white bg-dark-gray{% else %}mid-gray{% endif %} ttu grow">Français</a> &nbsp;
          <a href="/it/" class="link dim  {% if page.url.slice(1, 3) === 'it' %}white bg-dark-gray{% else %}mid-gray{% endif %} ttu grow">Italiano</a> &nbsp;
          <a href="/pt/" class="link dim  {% if page.url.slice(1, 3) === 'pt' %}white bg-dark-gray{% else %}mid-gray{% endif %} ttu grow">Português</a> &nbsp;
          <a href="/de/" class="link dim  {% if page.url.slice(1, 3) === 'de' %}white bg-dark-gray{% else %}mid-gray{% endif %} ttu grow">Deutsch</a> &nbsp;
        </nav>
      </header>
      <main class="fl w-100 f3 lh-copy mb4" role="main">
        {{ content | safe }}
      </main>
      <footer class="f1 tc mt8">
        <a href="mailto:olabinilegal@riseup.net" class="link grow dib mr3 black-70">
          <i class="la la-envelope"></i>
        </a>
        <a href="/feed.xml" class="link grow dib mr3 black-70">
          <i class="la la-rss"></i>
        </a>
        <a href="https://twitter.com/FreeOlaBini" class="link grow dib mr3 black-70">
          <i class="la la-twitter"></i>
        </a>
        <a href="https://github.com/freeolabini/freeolabini.github.io" class="link grow dib mr3 black-70">
          <i class="la la-github"></i>
        </a>			
      </footer>
    </div>
  </body>
</html>
