<!doctype html>
<html lang="{{ page.url.slice(1, 3) | d('en') }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="#FreeOlaBini" />
    <meta property="og:description" content="{{ title }}" />
    <meta property="og:image" content="https://freeolabini.org{{ image }}" />
    <meta property="og:url" content="https://freeolabini.org{{ page.url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@freeolabini" />
    <title>{{ title }} | Free Ola Bini #FreeOlaBini</title>
    <link rel="image_src" href="https://freeolabini.org{{ image }}" />
    <link rel="license" hreflang="en" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="alternate" hreflang="es" href="/es/" />
    <link rel="alternate" hreflang="en" href="/en/" />
    <style>
      @import url('https://rsms.me/inter/inter.css');
      html { font-family: 'Inter', sans-serif; }
      @supports (font-variation-settings: normal) { html { font-family: 'Inter var', sans-serif; } }
    </style>
    <link rel="stylesheet" href="/css/tailwind.css" />
    {% block javascript %}{% endblock %}
  </head>
  <body class="flex flex-col bg-gray-100 overflow-x-hidden">
    {% include "header.njk" %}
    {% include "main.njk" %}
    {% include "footer.njk" %}
  </body>
</html>
