<nav class="flex items-center justify-center flex-wrap border-t border-gray-300 shadow relative z-20">
  {% for item in main_menu %}
    <a class="flex items-center px-4 py-2 lg:py-3 hover:bg-gray-100" href="{{ item.path }}">
      <div class="font-medium">
        {{ item.title }}
      </div>
    </a>
  {% endfor %}
</nav>
