---
layout: base.njk
---

{% include "common_navigation.njk" %}

{% block content %}
  <div class="grid grid-cols-1 lg:grid-cols-12 w-full">
    <div class="col-span-1 lg:col-span-4 bg-black">
      <div class="relative lg:sticky lg:top-0 text-gray-100">
        <div class="bg-gray-200">
          <img class="block max-w-full object-cover" src="{{ image }}" alt="{{ title }}" />
        </div>
        <div class="flex flex-col p-10 lg:px-12 space-y-4">
          <h2 class="text-2xl lg:text-3xl font-semibold lg:font-bold tracking-tight">
            {{ title }}
          </h2>
          <p class="text-base lg:text-xl text-gray-300">
            {{ intro }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-8 bg-gradient-to-b from-gray-100 to-white">
      <div class="container max-w-screen-lg lg:max-w-screen-xl mx-auto px-10 lg:px-20">
        <div class="py-10 lg:py-20 space-y-10 lg:space-y-20">
          <div class="flex flex-col space-y-10">
            <div class="bg-white p-6 lg:p-8 rounded-lg border border-gray-300 shadow-lg">
              <div class="prose">
                {{ content | safe }}
              </div>
            </div>
          </div>
          <div class="flex w-full">
            {% set posts = collections[collection] | reverse %}
            {% include "posts.njk" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
