---
layout: base.njk
---
<div class="bb bt b--black-20 flex-ns" id="cta">
  <div class="w-100 w-40-ns v-top pa3">
     <img class="nested-img" src="{{ image }}" alt="{{ title }}" />
    <nav>
    {% for item in menu %}
      <a href="{{ item.path }}" class="f4 link db mb2">
        <i class="la {{ item.icon }}"></i>
        {{ item.title }}
      </a>
    {% endfor %}
  </nav>
  </div>
  <div class="w-100 w-60-ns v-top nested-copy">
    <h1 class="f2-ns f4 lh-title">{{ title }}</h1>
    {{ content | safe }}
  </div>
</div>
{% set posts = collections[collection] | reverse %}
{% include "posts.njk" %}
