---
layout: base.njk
---
<div class="mb5 pa3 dt bb bt b--silver" id="cta">
  <div class="dtc w-40 v-top pa3">
     <img class="nested-img" src="{{ image }}" />
  </div>
  <div class="dtc w-60 v-top">
    <h1 class="f2 lh-title">{{ title }}</h1>
    {{ content | safe }}
  </div>
</div>
{% set posts = collections[collection] | reverse %}
{% include "posts.njk" %}
