<nav class="flex flex-wrap items-center justify-center gap-2 lg:gap-3 -mx-4 lg:-mx-0">
  <a href="/es/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'es' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">Español</a>
  <a href="/sv/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'sv' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">Svenska</a>
  <a href="/en/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'en' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">English</a>
  <a href="/fr/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'fr' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">Français</a>
  <a href="/it/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'it' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">Italiano</a>
  <a href="/pt/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'pt' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">Português</a>
  <a href="/de/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'de' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">Deutsch</a>
  <a href="/eo/" class="block font-semibold lg:font-bold text-lg lg:text-xl  rounded-full px-3 py-1 -mx-2 tracking-wide my-2 {% if page.url.slice(1, 3) === 'eo' %}white bg-black{% else %}text-inherit hover:text-orange-600{% endif %}">Esperanto</a>
</nav>
