{%- for post in posts -%}
<a class="link dark-gray dim" href="{{ post.url }}">
<article class="pt3 flex-ns flex-row-reverse-ns">
    <div class="w-100 w-40-ns">
      <img src="{{ post.data.image }}" class="nested-img mt3" alt="{{ title }}"/>
    </div>
    <div class="w-100 w-60-ns v-top">
          <h2 class="f3-ns f4 avenir lh-title dark-gray mv0">
            {{ post.data.title }}
          </h2>
      <small class="gray db">
        {{ post.date.toUTCString().slice(0,16)}}
      </small>
      <div class="pl3 f4 pr3 pr4-ns">
        {{ post.templateContent | striptags | truncate }}
      </div>
    </div>
</article>
</a>
{%- endfor -%}
