{%- for post in posts -%}
<article class="mt3 dt">
    <div class="dtc w-70 v-top">
      <a class="link" href="{{ post.url }}">
          <h2 class="f1 fw9 lh-title black mv0 underline-hover">
            {{ post.data.title }}
          </h2>
      </a>
      <small class="gray db">
        {{ post.date.toUTCString().slice(0,16)}}
      </small>
     <div class="pl3 pr6">{{ post.templateContent | safe | truncate }}</div>
    </div>
    <div class="dtc w-40">
      <img src="{{ post.data.image }}" class="db nested-img"/>
    </div>
</article>
{%- endfor -%}
