---
layout: base.njk
---

{% block content %}
  <div class="border-t border-gray-300">
    <div class="container max-w-screen-lg lg:max-w-screen-xl mx-auto px-10">      
      {% include "common_navigation.njk" %}
      {% include "post_content.njk" %}
      {% include "tweet_this.njk" %}
    </div>
  </div>
{% endblock %}
