<div class="text-center container max-w-screen-lg mx-auto lg:px-20">
  <h1 class="text-2xl lg:text-4xl xl:text-6xl font-semibold lg:font-bold xl:font-black tracking-tight leading-relaxed">
    {{ title }}
  </h1>
</div>
