<div class="space-y-10 lg:space-y-14 py-10 lg:py-20">
  {% include "post_title.njk" %}
  <div class="w-full text-center">
    <img class="max-w-full h-auto mx-auto" src="{{ image }}" alt="{{ title }}" />
  </div>
  {% include "post_text.njk" %}
</div>
