{% extends "base.njk" %}

{% block javascript %}
  <script type="javascript">
    const language = navigator.language;
    if if (language.indexOf('sv') === 0) {
      document.location.href = '/sv/'
    } else if (language.indexOf('it') === 0) {
      document.location.href = '/it/'
    } else if (language.indexOf('es') === 0) {
      document.location.href = '/es/'
    } else if (language.indexOf('fr') === 0) {
      document.location.href = '/fr/'
    } else if (language.indexOf('pt') === 0) {
      document.location.href = '/pt/'
    } else if (language.indexOf('de') === 0) {
      document.location.href = '/de/'
    } else {
      document.location.href = '/en/'
    }
  </script>
{% endblock %}
    
{% block content %}
  <div class="container max-w-screen-lg mx-auto px-10">
    <div class="prose lg:prose-lg text-center pb-10 lg:pb-20 mx-auto">
      {{ content | safe }}
    </div>
  </div>
{% endblock %}
