{% extends base.njk %}

{% block javascript %}
  <script type="javascript">
    const language = navigator.language;
    if if (language.indexOf('sv') === 0) {
      document.location.href = '/sv/'
    } else if (language.indexOf('it') === 0) {
      document.location.href = '/it/'
    } else if (language.indexOf('es') === 0) {
      document.location.href = '/es/'
    } else if (language.indexOf('fr') === 0) {
      document.location.href = '/fr/'
    } else if (language.indexOf('pt') === 0) {
      document.location.href = '/pt/'
    } else if (language.indexOf('de') === 0) {
      document.location.href = '/de/'
    } else {
      document.location.href = '/en/'
    }
  </script>
{% endblock %}
    
{% block content %}
  {{ content | safe }}
{% endblock %}
