---
layout: base.njk
---
    <script>
    console.log('lang', language)
    var language = navigator.language
    if (language.indexOf('en') > -1) {
      document.location.href = '/en/'
    } else if (language.indexOf('sv') > -1) {
      document.location.href = '/sv/'
    } else if (language.indexOf('it') > -1) {
      document.location.href = '/it/'
    } else if (language.indexOf('es') > -1) {
      document.location.href = '/es/'
    } else if (language.indexOf('fr') > -1) {
      document.location.href = '/fr/'
    }
    </script>
    {{ content | safe }}
