<ul class="tweets-images">
  {%- for tweet in tweets -%}
    {% set data = tweet.data %}
    <li>
      <a href="#{{ tweet.fileSlug }}" class="zoom">
        <img src="/img/tweets/{{ data.thumbnail }}" />
      </a>
      <div id="{{ tweet.fileSlug }}" class="zoom-wrapper">
        <a class="zoom-original" href="{{ data.url }}" target="_blank" rel="noopener noreferrer">
          {{ data.url }}
        </a>
        <img class="zoom-img" src="/img/tweets/{{ data.thumbnail }}" />
        <a class="close" data-dismiss="tweet" href="#s1"></a>
      </div>
    </li>
  {%- endfor -%}
</ul>
