---
layout: post.njk
---
<div class="tc">
  {% set path = page.url %}
  {% set text = content %}
  {% include "tweetinc.njk" %}
</div>
<div class="tc mt4 pt4 bt b--black-20">
{%- for tweet in collections[tags] | reverse -%}
  {% if tweet.url !== page.url %}
    {% set path = tweet.url %}
    {% set text = tweet.templateContent %}
    {% include "tweetinc.njk" %}
  {% endif %}
{%- endfor -%}
</div>
