---
layout: post.njk
---
<div class=" f4 lh-copy">
  {{ content | safe }}
</div>
<div class="tc pt4">
{%- for tweet in collections[collection] | reverse -%}
  {% set path = tweet.url %}
  {% set text = tweet.templateContent %}
  {% include "tweetinc.njk" %}
{%- endfor -%}
</div>
