---
layout: base.njk
---

{% block content %}
  <div class="border-t border-gray-300">
    <div class="container max-w-screen-lg lg:max-w-screen-xl mx-auto px-10">      
      {% include "common_navigation.njk" %}
      <div class="space-y-10 lg:space-y-14 py-10 lg:py-20">
        {% include "post_title.njk" %}
        <div class="w-full bg-black">
          <iframe width="560" height="315" src="{{ videoembed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% include "post_text.njk" %}
      </div>
      {% include "tweet_this.njk" %}
    </div>
  </div>
{% endblock %}
